# Harbor internal Postgres password. Referenced by helm-values/harbor.yaml :: database.internal.existingSecret.

apiVersion: v1
kind: Secret
metadata:
  name: harbor-database
  namespace: obs-registry
type: Opaque
stringData:
  POSTGRES_PASSWORD: CHANGEME-harbor-postgres-password
